
@{
    ViewData["Title"] = "PersonalDetails";
}

<h1>PersonalDetails</h1>

@using (Html.BeginForm())
{
  <table>
      <tr>
          <td>Enter Your Name</td>
          <td>
              @Html.TextBox("username")
          </td>
      </tr>

        <tr>
            <td>Select Gender</td>
            <td>
               @Html.RadioButton("gender","Male") Male
               @Html.RadioButton("gender","Female") Female

            </td>
        </tr>
        <tr>
            <td>Select Hobbies</td>
            <td>
              <input type="checkbox" name="hobbies" value="Sports"/> Sports
                <input type="checkbox" name="hobbies" value="Reading" /> Reading
               <input type="checkbox" name="hobbies" value="Music" /> Music


            </td>
        </tr>
        <tr>
            <td>Select City</td>
            <td>
                @Html.DropDownList("city");

            </td>
        </tr>
        <tr>
            <td></td>
            <td>
               <input type="Submit" value="Save"/>

            </td>
        </tr>
  </table>  
}

